@font-face {
  font-family: 'Movskate';
  src: url('../../fonts/movskate.woff2') format('woff2');
}

$opensans: 'Open Sans', sans-serif;
$neucha: 'Neucha', cursive;
$movskate: 'Movskate', sans-serif;
