.step-6 {
  background: $purple image-url('bg/step-6.svg') no-repeat center / cover;
  color: #fff;

  .swiper {
    z-index: 2;
    position: relative;

    .swiper-slide {
      position: relative;
      padding: 5px 7px;
      border-radius: 8px;

      @media #{$min641} {
        padding: 15px 20px;
        border-radius: 16px;
      }

      .holder {
        .video {
          pointer-events: none;
          position: relative;
          padding-top: 74%;
        }

        .title {
          opacity: 0;
          transition: opacity .3s 0s ease;
          padding: 0 0 4px;
          color: $purple;
          font-size: 16px;
          font-weight: 700;
          text-align: center;

          @media #{$min641} {
            padding: 0 0 15px;
            font-size: 22px;
          }
        }
      }

      &.swiper-slide-active {
        background: #fff;

        .holder {
          .title {
            opacity: 1;
          }

          .video {
            pointer-events: all;
          }
        }
      }
    }
  }

  .swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 15px 0 40px;
    padding: 10px 0;

    .swiper-pagination-bullet {
      cursor: pointer;
      position: relative;
      width: 20px;
      height: 20px;
      border-radius: 16px 12px 16px 13px;
      background: $white;
      opacity: 0.6;

      @media #{$min641} {
        width: 28px;
        height: 28px;
      }

      span {
        position: absolute;
        top: 0;
        left: calc(50% - 30px);
        width: 60px;
        padding: 25px 0 0;
        font-size: 16px;
        text-align: center;
        font-family: $neucha;
        line-height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        @media #{$min641} {
          padding: 35px 0 0;
        }
      }

      &:after {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: -3px;
        width: 100%;
        height: calc(100% - 4px);
        border-radius: 16px 12px 16px 13px;
        border: 2px solid #fff;
      }

      &.swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }
}