.step-3 {
  position: relative;

  &:after,
  &:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
  }

  &:before {
    height: 1.36vw;
    bottom: calc(100% - 1px);
    background: image-url('waves/top-2.svg') no-repeat center/100% 100%;
  }

  &:after {
    height: 1.05vw;
    top: calc(100% - 1px);
    background: image-url('waves/bottom-3.svg') no-repeat center/100% 100%;
  }

  .text {
    text-align: center;

    p {
      font-size: 16px;
      font-weight: 700;

      @media #{$min854} {
        font-size: 26px;
      }
    }

    h2 {
      margin: 0 0 25px 0;
      font-size: 12vw;
      line-height: 95%;

      @media #{$min854} {
        margin: 0 0 45px 0;
        font-size: 90px;
      }
    }

    h4 {
      border-radius: 12px 10px 18px 10px;
      display: inline-block;
      max-width: 75vw;
      color: #4d9cc8;
      font-family: $neucha;
      font-size: 22px;
      text-transform: uppercase;
      line-height: 136%;

      @media #{$min641} {
        font-size: 30px;
      }

      @media #{$min854} {
        font-size: 36px;
      }
    }
  }

  .lists {
    max-width: 700px;
    margin: 25px auto 0;

    @media #{$min854} {
      margin: 60px auto 0;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      margin: 0;
      padding: 0;
      list-style: none;

      @media #{$min854} {
        gap: 35px;
      }

      li {
        position: relative;
        padding: 0 0 0 30px;
        font-size: 16px;

        @media #{$min854} {
          font-size: 18px;
        }

        &:before {
          content: '';
          position: absolute;
          top: 4px;
          left: 0;
          width: 16px;
          height: 16px;
          border-radius: 50%;
        }

        &:nth-child(5n+1):before {
          background: #95B421;
        }

        &:nth-child(5n+2):before {
          background: #BD2AD4;
        }

        &:nth-child(5n+3):before {
          background: #3AADC6;
        }

        &:nth-child(5n+4):before {
          background: #7C6EB0;
        }

        &:nth-child(5n+5):before {
          background: #E84272;
        }
      }
    }
  }
}